*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.left{
    width: 22vw;
    background-color: black;
}




.container{
    display: flex;
}

.home{
    background-color: #121212;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.logo>img{
    width: 100px;
}

.home>ul>li{
    list-style: none;
    line-height: 30px;
}

.library{
     background-color: #121212;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    height: 76.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.songList{
    max-height: 60vh;
    overflow-y:scroll;
     scrollbar-color: #171717 #121212 ; /* Thumb | Track */
    scrollbar-width: thin;

    
}
.songList i{
    color: rgb(148, 146, 146);
}

.songList ul li{
    list-style:none;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(148, 146, 146);
   padding: 12px 10px;
   border-radius: 5px;
   margin-top: 0.8rem;
   

}

.spotify_playsist

.info{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 200px;
    
}

.songName{
    max-height: 20px;
    overflow: hidden;
    width: 70%;
}



.footer{
    font-size: 8px;
   display: flex;
   gap: 5px;
    
    
}

.footer a{
    color: gray;
}

/* right vala section-------------------------------------------------- */

.hearder{
    background-color: rgb(15, 14, 14);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




.head_lr_btn{
    width: 6vw;
    display: flex;
    justify-content: space-between;
}
.hearder i{
    font-size: 1.6rem;
    
}

.btn{
    display: flex; 
    align-items: center; 
    gap: 2rem; 
}

.signUp{
     font-size: 1.2rem;
     border: none;
     background: none; 
     color: white;
}

.login{
    padding: 10px 20px; 
    font-size: 1.2rem;
    border-radius: 20px;
}

.right{
    margin-top: 13px;
    width: 78vw;
    background-color: #121212;
    height: 97vh;
    position: relative;
    border-radius: 15px;
    
   
}

/* right ka footer */

.playBar{
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
    width: 99%;
 margin-left: 7px; 
}

.info_time_song{
    display: flex;
    align-items: center;
     justify-content: space-between;
      width: 78vw;
      height: 40px;
}

.seekbar{
    height: 2px;
    width: 76vw;
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    text-align: center;
   cursor: pointer; 
   margin-left: 4px;
}

.circle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 7.2px;
    left: -1px;
    transition:all 0.5s ease-out;
}

.play{
    position: absolute;
    top: 180px;
    right: 20px;
    opacity: 0;
    transition: 0.1s ease-out;
}

.card:hover .play{
    opacity: 1;
    top: 135px;
     
}

.card{
    position: relative;
    width: 200px;
    cursor: pointer;
    padding: 10px;
    background-color: #252525;
    border-radius: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card p{
    font-weight: lighter;
    color: rgb(176, 178, 179);
}

.card >h2{
    padding-top: 8px;
    padding-bottom: 5px;
}

.spotify_playsist{
    margin: 30px;
    max-height: 75vh;
     overflow-y: scroll;
    scrollbar-color: rgb(95, 95, 95) #121212 ; /* Thumb | Track */
    scrollbar-width: thin;
}

.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 1.5rem;
}

.songBtns{
        display: flex;
    justify-content: space-evenly;
}
.songBtns i{
    font-size: 1.4rem;
    


}



.songBtns{
    width: 80vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}

i{
    cursor: pointer;
}


/* media query  ---------------------------------------------------*/
.close{
    display: none;
}
.more{
    display: none;
}


 @media (max-width: 900px) {
  .more {
    display: inline-block; 
  }



  .left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    background: #222;
    z-index: 998;
  }

  .right{
    width: 100vw;
  }
  .close{
    display: block;
  }
  .songBtns{
    position:static;
  }

   .ero_btn{
        display: flex;
        width: 50%;
        justify-content: space-between;

    }
}


@media (max-width: 1280px){
    .info_time_song{
        flex-direction: column;
        width: 40vw;
        justify-content: center;
    }

    .songBtns{
    position:static;
  }

  .playBar{
    justify-content: center;
  }
} 

@media (max-width: 672px){
    .hearder{
       width: 98%;
    }

    .right{
        width: 98vw;
    }

     .ero_btn{
        display: flex;
        width: 50%;
        justify-content: space-between;

    }
} 

@media (max-width: 342px){
    .hearder{
       width: 95%;
    }


    .login{
        display: none;
    }

    .signUp{
        display: none;
    }
    .ero_btn{
        display: flex;
        width: 90%;
        justify-content: space-between;

    }
} 

@media (max-width: 630px){
    .login{
        display: none;
    }

    .signUp{
        display: none;
    }

        .ero_btn{
       width: 100%;
    }
    .right{
        height: 90vh;
    }

    .left{
        height: 40rem;
    }

    .songList{
        max-height: 50vh;
    }

    
} 